{erl_opts, [debug_info]}.
{deps, [
    {pgapp, ".*", {git, "https://github.com/epgsql/pgapp.git", {branch, "master"}}}
]}.

{shell, [
    {config, "env/sys.config"},
    {apps, [todo_list]}
]}.

{ct_opts, [{sys_config, ["env/test.config"]}]}.

{relx, [
    {release, {todo_list, "0.1.0"}, [todo_list, sasl]},
    {vm_args, "env/vm.args"},
    {sys_config_src, "env/sys.config.src"},
    {include_erts, true},
    {extended_start_script, true}
]}.