[
    {todo_list, []},

    {pgapp, [
        {pools, [
            {todo_list_db, [
                {size, 4},
                {max_overflow, 4}
            ], [
                {host, "localhost"},
                {port, 5432},
                {database, "todo_list_test"},
                {username, "dba"},
                {password, "dba_pass"}
            ]}
        ]}
    ]}
].
